<%- include("partials/head.ejs")%>
    <main id="contenedor-get">

        <div id="getProduct-container" class="crudForm-container">
            <h2>Consultar producto</h2>

            <form id="getProduct-form">
                <label for="idProd">Id producto</label>
                <input type="number" name="id" id="idProd" required>

                <input type="submit" value="Consultar producto">
            </form>
        </div>

        <div id="getId-container">
            <ul id="getId-list">
            </ul>
        </div>

        <div id="updateForm-container"></div>
    </main>

    <script>

        const url = "http://localhost:3000/api";

        let getProduct_form = document.getElementById("getProduct-form");
        let getId_lista = document.getElementById("getId-list");
        let updateForm_container = document.getElementById("updateForm-container");

        getProduct_form.addEventListener("submit", async (event) => {

            event.preventDefault(); 

            try {
                getId_lista.innerHTML = "<p>Cargando usuario...</p>";

                let formData = new FormData(event.target); 

                let data = Object.fromEntries(formData.entries());

                let idProd = data.id.trim(); 

                if(!idProd) {
                    throw new Error(`Error en el envio de datos del formulario`);
                }

                let response = await fetch(`${url}/products/${idProd}`);

                if(!response.ok) {
                    throw new Error(`Error ${response.status}: ${response.statusText}`); // Error 404: Not Found
                }

                let datos = await response.json();

                if(!datos.payload || datos.payload.length === 0) {
                    throw new Error("No se encontro el producto solicitado")
                }
                
                let producto = datos.payload;
                let htmlProducto = `
                    <li class="li-listados productos-listados">
                        <div class="li-listados_datos">
                            <p>Id: ${producto.id} / Nombre: ${producto.nombre} / <strong>Precio: $${producto.precio}</strong></p>
                            <p>Descripcion: ${producto.descripcion}</p>
                        </div>
                        <div class="li-listados_boton">
                            <input class="listados_boton" id="updateProduct_button" type="button" value="Actualizar producto">
                        </div>
                    </li>
                `;
                getId_lista.innerHTML = htmlProducto;
                
                let updateProduct_button = document.getElementById("updateProduct_button");

                updateProduct_button.addEventListener("click", function(event) {
                    formularioPutProducto(event, producto);
                });


            } catch (error) {
                console.error("Error al obtener el producto: ", error);

                getId_lista.innerHTML = `<p>${error.message}</p>`
            }
        });

        function formularioPutProducto(event, producto) {
            event.stopPropagation(); 

            let updateProduct = `
            <div id="updateProducts-container" class="crudForm-container">
                <h2>Actualizar producto</h2>

                <form id="updateProducts-form" autocomplete="off">

                    <label for="idProd">Id</label>
                    <input type="number" name="id" id="idProd" value=${producto.id} readonly>

                    <label for="imagenProd">Imagen(URL):</label>
                    <input type="url" name="img" id="imagenProd" value="${producto.img}"required>

                    <label for="categoriaProd">Categoria:</label>
                    <select name="categoria" id="categoriaProd" value="${producto.categoria}" required>
                        <option value="auriculares">Auriculares</option>
                        <option value="mouse">Mouse</option>
                        <option value="teclado">Teclado</option>
                        <option value="joysticks">Joysticks</option>
                    </select>

                    <label for="nombreProd">Nombre:</label>
                    <input type="text" name="nombre" id="nombreProd" value="${producto.nombre}" required>

                    <label for="descripcionProd">Descripción:</label>
                    <input type="text" name="descripcion" id="descripcionProd" value="${producto.descripcion}" required>
                
                    <label for="precioProd">Precio:</label>
                    <input type="number" name="precio" id="precioProd" value="${producto.precio}" required>

                    <label for="stockProd">Stock:</label>
                    <input type="number" name="stock" id="stockProd" value="${producto.stock}" required>

                    <input type="submit" value="Actualizar producto">
                </form>
            </div>
            `;

            updateForm_container.innerHTML = updateProduct;

            let updateProducts_form = document.getElementById("updateProducts-form");

            updateProducts_form.addEventListener("submit", function(event) {
                actualizarProducto(event);
            });
        }

        async function actualizarProducto(event) {

            event.preventDefault(); 

            let formData = new FormData(event.target);

            let data = Object.fromEntries(formData.entries());

            if(!data.id || !data.nombre || !data.descripcion || !data.precio || !data.img || !data.stock) {
                alert("Todos los campos son obligatorios");
                return;
            }

            try {
                let response = await fetch(`${url}/products`, {
                    method: "PUT",
                    headers: {
                        "Content-Type" : "application/json",
                    },
                    body: JSON.stringify(data)
                });

                if(response.ok) {
                    let result = await response.json();
                    console.log(result.message);
                    alert(result.message);

                    getId_lista.innerHTML = "";
                    updateForm_container.innerHTML = "";

                } else {
                    let error = await response.json();
                    console.log("Error", error.message)
                }

            } catch (error) {
                console.log("Error al enviar los datos", error);
                alert("Error al procesar la solicitud");
            }
        }


    </script>