body {
    background-color: var(--colorBackground);
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-top{
    background-color: var(--colorPrimario);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5px;
}

.icon{
    display: flex;
    text-decoration: none;
    text-align: center;
}

#icon-user, #icon-carrito{
    display: flex;
    align-items: center;
}

.text-icon-user,
.text-icon-carrito{
    color:white
} 

#icon-user:hover .text-icon-user{
    color: var(--colorSecundario);
}

#icon-carrito:hover .text-icon-carrito{
    color: var(--colorSecundario);
}

.img-icon{
    width: 350px;
    height: 60px;
}

.img-icon-user{
    width: 45px;
    height: 45px;
}

.img-icon-carrito{
    width: 55px;
    height: 55px;
}

#contenedor-iconos{
    display: flex;
    padding-left: 200px;
    gap: 50px;
}

.barra-busqueda {
    background-color: var(--colorPrimario);
    border-radius: 8px;
    border: 1px solid #FAFAFA;
    width: 500px;
    height: 40px;
    justify-content: center;
    text-align:center;
    color: white;
}

.barra-busqueda:hover{
    border-color:  var(--colorSecundario);
}

.barra-busqueda:focus {
    border-color: var(--colorSeleccion);
    outline: none;
}

#header-bot{
    background-color: var(--colorBackgroundSecundario);
}

#listado-opciones{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}

#opcion-armatupc,
#opcion-hadware,
#opcion-perisfericos,
#opcion-notebooks,
#opcion-monitores,
#opcion-vertodo{
    font-size: 20px;
}

#opcion-armatupc:hover,
#opcion-hadware:hover,
#opcion-perisfericos:hover,
#opcion-notebooks:hover,
#opcion-monitores:hover,
#opcion-vertodo:hover{
    color: var(--colorSecundario);
}

.publicidad {
    width: 1200px;
    height: 500px;
    border: 2px solid var(--colorBackground);
    border-radius: 30px;
    margin: 0 auto;          
    display: block;         
}

#categoriaProd{
    display: flex;
    flex-direction: column;
    width: 100px;
}

:root{
    --colorPrimario: #212121;
    --colorSecundario: #FF5722;
    --colorSeleccion: #ff3f04;
    --colorBackground: #eee;
    --colorBackgroundSecundario: #f5f3f3fd;
}