body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#header-top{
    background-color: var(--colorPrimario);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5px;
}

.icon{
    display: flex;
    text-decoration: none;
    text-align: center;
}

#icon-user, #icon-carrito{
    display: flex;
    align-items: center;
}

.text-icon-user{
    color: white;

}
.text-icon-carrito{
    color: var(--colorSeleccion);
}

#icon-user:hover .text-icon-user{
    color: var(--colorSecundario);
}

#icon-carrito:hover .text-icon-carrito{
    color: var(--colorSecundario);
}

.img-icon{
    width: 350px;
    height: 60px;
}

.img-icon-user, .img-icon-carrito{
    width: 55px;
    height: 55px;
}

#contenedor-iconos{
    display: flex;
    padding-left: 200px;
    gap: 50px;
}

.barra-busqueda {
    background-color: var(--colorPrimario);
    border-radius: 8px;
    border: 1px solid #FAFAFA;
    width: 500px;
    height: 40px;
    justify-content: center;
    text-align:center;
    color: white;
}

.barra-busqueda:hover{
    border-color:  var(--colorSecundario);
}

.barra-busqueda:focus {
    border-color: var(--colorSeleccion);
    outline: none;
}

#header-bot{
    border:2px solid;
}

#listado-opciones{
    display: flex;
    justify-content: center;
    gap: 20px;
}

:root{
    --colorPrimario: #212121;
    --colorSecundario: #FF5722;
    --colorSeleccion: #ff3f04;
}